@mixin on-tablet {
  @media (min-width: $tablet-min-width) {
    @content;
  }
}

@mixin on-desktop {
  @media (min-width: $desktop-min-width) {
    @content;
  }
}

@mixin hover($property, $to-value) {
  transition: #{$property} 0.15s;

  &:hover {
    #{$property}: $to-value;
  }
}

@mixin active($property, $to-value) {
  &:active {
    #{$property}: $to-value;
  }
}
