:root {
  --container-width: 1710px;
  --container-padding: 15px;

  --font-main: "Dual", sans-serif;

  --page-bg: #fff;
  --text-color: #000;
  --accent: #ac182c;

  $tablet-min-width: 576px;
  $desktop-min-width: 992px;
}

.dark {
  --page-bg: #252526;
  --text-color: #fff;
}
